<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{commons/layout}">

<head>
    <title>個別ページタイトル</title>
    <meta name="description" content="個別metaタグ">
</head>
<body>
<div layout:fragment="header">タイトルは個別に設定します。</div>
<div layout:fragment="contents">
    <P>個別のページ</P>
    <div id="hello-text"></div>
    <!-- jquery-uiが正しくうごくか検証 -->
    <input type="text" class="datepicker"/>
    <script>
            $(function() {
                $('#hello-text').text('Hello SpringBoot from JQuery!!');
                $('.datepicker').datepicker();
            });
        </script>
</div>
</body>
</html>